<div class="osahan-slider slick-initialized slick-slider">
    <div class="slick-list draggable" style="padding: 0px 40px;">
        <div class="slick-track" style="opacity: 1; width: 3952px; transform: translate3d(-1482px, 0px, 0px);">
            <div class="osahan-slider-item slick-slide slick-cloned" tabindex="-1" style="width: 478px;" data-slick-index="-2" aria-hidden="true">
                <img src="/static/img/slider2.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="osahan-slider-item slick-slide slick-cloned" tabindex="-1" style="width: 478px;" data-slick-index="-1" aria-hidden="true">
                <img src="/static/img/slider3.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="osahan-slider-item slick-slide" tabindex="-1" style="width: 478px;" data-slick-index="0" aria-hidden="true">
                <img src="/static/img/slider1.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="osahan-slider-item slick-slide slick-current slick-active slick-center" tabindex="0" style="width: 478px;" data-slick-index="1" aria-hidden="false">
                <img src="/static/img/slider2.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="osahan-slider-item slick-slide" tabindex="-1" style="width: 478px;" data-slick-index="2" aria-hidden="true">
                <img src="/static/img/slider3.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="osahan-slider-item slick-slide slick-cloned" tabindex="-1" style="width: 478px;" data-slick-index="3" aria-hidden="true">
                <img src="/static/img/slider1.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="osahan-slider-item slick-slide slick-cloned" tabindex="-1" style="width: 478px;" data-slick-index="4" aria-hidden="true">
                <img src="/static/img/slider2.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="osahan-slider-item slick-slide slick-cloned" tabindex="-1" style="width: 478px;" data-slick-index="5" aria-hidden="true">
                <img src="/static/img/slider3.jpg" class="img-fluid rounded" alt="...">
            </div>
        </div>
    </div>